body{
    background-color: #1d1f34;
    margin: 0;
    padding: 0;
    color: white;
}

.menu-container{
    width: 280px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.balk{
    width: 280px;
    height: 100%;
    background-color: #242b3e;
    box-shadow: #e39f0e 0px 0px 50px 0px;
}

.groepsnaam{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 6%;
    left: 15%;
}

.functie{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    position: absolute;
    top: 10%;
    left: 15%;
}

.buttons-container{
    min-height: 50%;
}

.homepage-btn{
    background-color:#485969;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 30%;
    left: 15%;
}


.projects-btn{
    background-color:#485969;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 38%;
    left: 15%;
}

.team-btn{
    background-color:#485969;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 46%;
    left: 15%;
}

.contact-btn{
    background-color:#485969;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    position: absolute;
    top: 54%;
    left: 15%;
}

.container-conact{
    position: absolute;
    top: 50%;
    left: 50%;

}

.block-midel{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}
